.number1 {
    text-align: center;
    margin-top: 5%;
}

.number2 {
    font-family: system-ui;
    font-size: 16px;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30%;
}